.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carousel-control-next, .carousel-control-prev {
  align-items: flex-start !important;
}

.icon {
  width: 30px;
  height: 40px;
  color: "black";
  margin-top: 50px
}

p, li {
  font-size: 5vw;
}

h3 {
  font-size: 8vw;
}

h4 {
  font-size: 7vw;
}

h5 {
  font-size: 6vw;
}

@media screen and (min-width: 1200px) {
  p, li {
     font-size: 16px;
  }
  h3 {
    font-size: 22px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
